    /* -------------------------------------------------------------------------- */
    /*                                MEDIAS QUERY                                */
    /* -------------------------------------------------------------------------- */
    @mixin media($media) {
        @if $media == xxs {
        @media (max-width: $breakpoint-xxs) { @content; }
        }
        @if $media == xs {
        @media (max-width: $breakpoint-sm) { @content; }
        }
        @else if $media == sm {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
        }
        @else if $media == md {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
        }
        @else if $media == lg {
        @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) { @content; }
        }
        @else if $media == xl {
        @media (min-width: $breakpoint-xl) { @content; }
        }
        @else if $media == xxl {
        @media (min-width: $breakpoint-xxl) { @content; }
        }
    }
    /* -------------------------------------------------------------------------- */
    /*                               String Replace                               */
    /* -------------------------------------------------------------------------- */

    @function str-replace($string, $search, $replace: "") {
        $index: str-index($string, $search);
        @if $index {
            @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
        }
        @return $string;
    }

    /* -------------------------------------------------------------------------- */
    /*                                  FONT FACE                                 */
    /* -------------------------------------------------------------------------- */
    @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
        $src: null;
        $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
        $formats: ( otf: "opentype", ttf: "truetype" );
        @each $ext in $exts {
            $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
            $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
            $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
        }
        @font-face {
            font-family: quote($name);
            font-style: $style;
            font-weight: $weight;
            src: $src;
        }
    }
    /* -------------------------------------------------------------------------- */
    /*                                BORDER METHOD                               */
    /* -------------------------------------------------------------------------- */
    @mixin border-radius($radius) {
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        border-radius: $radius;
    }
    /* -------------------------------------------------------------------------- */
    /*                              TRANSITION METHOD                             */
    /* -------------------------------------------------------------------------- */
    @mixin transition($args...) {
        -webkit-transition: $args;
        -moz-transition: $args;
        -ms-transition: $args;
        -o-transition: $args;
        transition: $args;
    }
    /* ---------------------------------- DFLEX --------------------------------- */
    @mixin dflex() {
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
    }
