$enable-cssgrid: true;
/* --------------------------- BOOTSTRAP VARIABLE --------------------------- */

/* ------------------------------- BREAKPOINTS ------------------------------ */
$breakpoint-xxs: 320px;
$breakpoint-xs: 767px;
$breakpoint-sm: 880px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;
$breakpoint-xxl: 1900px;
/* --------------------------------- COLORS --------------------------------- */

$blue: #5FC4F3;
$blue-light: #e7f2f9;

$gray-dark: #496582;
$gray-light: #f6f7f9;
$magenta: #D04461;

/* -------------------------------- COLORS BT ------------------------------- */
$white: #fff !default;
$gray-100: #F8F8F8 !default;
$gray-200: #F4F6F8 !default;
$gray-300: #DFE3E8 !default;
$gray-400: #C4CDD5 !default;
$gray-500: #919EAB !default;
$gray-600: #637381 !default;
$gray-700: #454F5B !default;
$gray-800: #212B36 !default;
$gray-900: #161C24 !default;
$black: #000 !default;


/* ---------------------------------- FONTS --------------------------------- */

$gotham-bl : 'Gotham Rounded Bold';
$gotham-bk : 'Gotham Rounded Book';
$gotham-lt : 'Gotham Rounded Light';
$gotham-md : 'Gotham Rounded Medium';

$opensans-bl : 'Open Sans Bold';
$opensans-lt : 'Open Sans Light';
$opensans-rg : 'Open Sans Regular';








/* ---------------------------------- ICONS --------------------------------- */
